.GameCard {
    padding: 0 10%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(117, 118, 173);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.GameCard h1 {
    color: silver;
    text-shadow: 2px 2px 4px white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 0px;
    font-variant: small-caps;
}

.game-item {
    width: 80%;
    margin: 40px 0;
    font-style: oblique;
}

.game-item .game-name {
    font-size: 1.5vw;
    color: silver;
    text-shadow: 1px 1px 2px white;
    font-style: normal;
}

.game-item .game-name:hover {
    font-size: 1.8vw;
    color: rgb(109, 0, 0);
}

a:active {
    color: lightcoral;
}