.Game-wrap {
  position: relative;
  width: 100%;
  margin-top:-90px;
  background-color: transparent;
  overflow: hidden;
  .list-title {
    h2 {
      float: center;
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }

  .GameCard{
      .game-item {
        width: 17%;
        float: left;
        position: relative;
        padding-left: 100px;
        margin-bottom: 15px;
      }
  }
}
