.GameCard {
    padding: 0 10%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.GameCard h1 {
    color: silver;
    text-shadow: 2px 2px 4px white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 0px;
    padding-bottom: 40%;
    font-variant: small-caps;
}

.game-item {
    width: 80%;
    margin: 40px 0;
}

.game-item .game-name {
    font-size: 2vw;
    text-shadow: 1px 1px 2px black;
}

.game-item .game-name:hover {
    font-size: 2.2vw;
}