.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .header-wrap {
    width: 100%;
    //min-width:1120px;
    //height: 75px;
    line-height: 75px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .logo {
    //float: left;
    display: inline-block;
    width: 175px;
    height: 51px;
    margin: 12px auto;
  }

  .username {
    float: right;
    margin-top: 3px;
    margin-right: 10%;

    .usericon {
      margin-top: -5px;
      padding-right: 20px;
    }

    .btn-login {
      margin-top: -5px;
    }
  }
}
