.sidebar {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.sidebar-list {
    padding: 10%;
    width: 100%;
    text-align: left;
    font-size: 2vw;
    text-shadow: 2px 2px 4px whitesmoke;
    font-variant: small-caps;
}

.sidebar-list a {
    color: silver;
}

.sidebar-list i {
    color: silver;
}

a:hover {
    font-size: 2.5vw;
    color: rgb(109, 0, 0);
}

a:active {
    color: lightcoral;
}