.sidebar {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-right: 1px solid white;
    border-radius: 25px;
    box-shadow: 3px 0px 3px grey;
    height: 100%;
    padding-bottom: 100%;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar-list {
    padding-left: 2vw;
    padding-top: 2vh;
    width: 100%;
    text-align: left;
    font-size: 2vw;
    text-shadow: 2px 2px 4px whitesmoke;
    font-variant: small-caps;
}

.sidebar-list a {
    color: silver;
}

.sidebar-list i {
    color: silver;
}

a:hover {
    font-size: 2.5vw;
    color: rgb(109, 0, 0);
}

a:active {
    color: lightcoral;
}