#root{
    height:100%;
}
.App{
    height:100%;
}
.container{  
    height:100%;
    color: #fff;
    font-weight: bold;
    text-shadow: 5px 2px 6px #000;
}
/* .container input{
    margin:0.5vh;
    color:black;
}
.container button:hover{
    background-color:rgb(56, 56, 56);
}
.container button:active{
    background-color:rgb(139, 139, 139);
} */
.Sign{
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% top;   
    height:100%;
}
.Sign::before{
    content:"";
    background-color:rgba(0, 0, 0, 0.705); 
    height:100%;
    position:absolute;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url('../img/logo1.png');
    background-size:40%;
    background-repeat:no-repeat;
    background-position: 50% 15%;
}
.Sign form{
    position:absolute;
    left: 50%; 
    top: 50%;  
    transform: translate(-50%, -50%); 
}

#email,#password{
    color:white;
}
