.game-wrap {
  position: relative;
  width: 100%;
  background: #222;
  overflow: hidden;

  .game-center {
    margin-top: 150px;
    padding: 0 10%;
    text-align: left;
    //width: 1350px;
    //margin: 0 auto;
    // .game-background {
    //     width: 1920px;
    //     height: 1080px;
    //     margin-left: -400px;
    // }
    .back-to {
      // float: right;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
    }
    .single-game-title {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      padding-left: 0%;
    }
    .game-cover {
      margin: 25px 10% 25px 0;
      width: 90%;
    }
    .game-detail-card {
      margin-top: 20px;
      font-size: 20px;
      h2,
      p {
        color: #fff;
        margin-right: 5%;
      }
      // .rating-star{
      //   padding-left: 10%;
      // }
    }
    .game-popularity {
      color: orange;
      font-weight: bold;
    }

    .more-screenshots {
      margin-top: 30px;
      text-align: left;
      font-size: 20px;
      h2 {
        color: #fff;
      }
      .screen-shots {
        margin-bottom: 3%;
        .game-img {
          width: 90%;
          margin-right: 10%;
        } 
      }
      p {
        font-style: italic;
        font-size: 15px;
        color: rgb(112, 107, 107);
    }
    }

    .more-keywords {
      margin-top: 10px;
      text-align: left;
      font-size: 20px;
      h2 {
        color: #fff;
      }
      .key-words {
        float: left;
      }
      p {
        font-style: italic;
        font-size: 15px;
        color: rgb(112, 107, 107);
    }

    }
  }
}

.ant-modal {
  .ant-modal-content,.ant-modal-header {
    background-color:#000000;
  }
  .ant-modal-title{
    color:white;
  }
  .ant-modal-close-x{
    color:white;
  }
}


