    .back-to {
        float: right;
        height: 10vh;
        width: 7vw;
        color: rgba(166, 164, 238, 0.863);
        font-size: 1vw;
        line-height: 100%;
        padding-top: 2%;
        margin-right: 5%;
        background-image: url('./img/btngun.png');
        background-size: cover;
        background-color: transparent;
    }
    
    .back-to:hover {
        color: rgba(82, 0, 0, 0.863);
        height: 10.5vh;
        width: 7vw;
        font-size: 1vw;
        background-size: cover;
    }
    
    .game-content {
        padding: 2% 0px 3% 6%;
        margin: 40px 25px 60px 30px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: -3px -3px 10px grey;
        font-weight: bold;
        font-style: italic;
        border: 2px solid white;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.774);
    }
    
    .game-content h1 {
        font-size: 3vw;
        font-style: normal;
        color: silver;
        text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.589);
        font-weight: bold;
    }
    
    .game-content h2 {
        font-size: 2vw;
        font-style: normal;
        color: silver;
        text-shadow: 2px 2px 4px white;
        font-variant: small-caps;
    }
    
    .game-cover {
        margin: 20px 0;
        width: 100%;
    }
    
    .game-detail-card {
        margin-top: 20px;
        font-size: 1.2vw;
        color: rgb(117, 118, 173);
    }
    
    .game-summary {
        padding: 0 10%;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .game-popularity {
        color: gold;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5vw;
        text-shadow: 2px 2px 4px rgb(51, 48, 48);
    }
    
    .game-content button {
        background-color: rgb(117, 118, 173);
    }
    
    html:hover .game-content button {
        animation-name: addtowishlist;
        animation-duration: 450ms;
        animation-delay: 50ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    
    @keyframes addtowishlist {
        to {
            background-color: lightskyblue;
        }
    }
    
    .game-content button:hover {
        animation-play-state: paused;
    }