#Userindex{
    height:100%;
}
#Userindex::before{
    height:100%;
    content:"";
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% top;
    z-index:-1;
    filter:blur(3px);
}
.App{
    h1{
       color:white;
       text-align:left;
       padding-left:10%;
       font-weight: bold;
       text-shadow: 5px 2px 6px #000;
    }
    h2{
       color:white;
       text-align:left;
       padding-left:10%;
       font-weight: bold;
       text-shadow: 5px 2px 6px #000;   
    }

}
#Greeting{
    margin-top:25vh;
}
