.wish-list {
    text-align: left;
}

.wish-list h1 {
    color: #c0c0c0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
    font-variant: small-caps;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
}

.wish-item h2 {
    color: rgb(117, 118, 173);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.411);
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.795);
    box-shadow: 2px 2px 4px grey;
}

.wish-list button {
    margin-left: 10px;
    background-color: rgba(94, 3, 3, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.856);
    box-shadow: 2px 2px 4px grey;
}

.wish-list button:hover {
    background-color: lightcoral;
}